#root {
	max-width: 1800px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.containerGallery {
	display: flex;
	justify-content: center;
	flex-wrap:nowrap;
	gap: 40px 80px;
	margin: 50px 0px;
}
.card {
	width: 20rem;
}
.card-body {
	background-color: #c32f2f;
}


.btnsFlores {
	display: flex;
	justify-content: center;
	gap: 50px;
}
